//  SPO Specific Styles
//  -----------------------------
//

//Global
#sticky-menu {
  background-color: #373737;
}


// Home Page
.hero {
  height: 526px;
  background: url('../img/hero_background.jpg') repeat-y center bottom;
}