<footer>
    <div>
      <div class="row">
        <div class="large-4 large-centered columns sharing">
        <div class="row">
          <div class="large-6 columns">
            <h4>Contact Us</h4>
            <div class="email">
              <a href="#">
                <span class="envelope"></span>
                <div class="button small hollow white"><a href="mailto:prosecuting.attorney@kingcounty.gov">Email</a> <span class="fa fa-angle-right"></span></div>
              </a>
            </div>
          </div>
          <div class="large-6 columns">
            <h4>Share</h4>
            <ul class="share">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://stalkingprotectionorder.org" ><span class="fa fa-facebook-square"></span></a></li>
              <li><a href="http://www.twitter.com/share?url=http://stalkingprotectionorder.org"><span class="fa fa-twitter-square"></span></a></li>
              <li><a href="https://plus.google.com/share?url=http://stalkingprotectionorder.org"><span class="fa fa-google-plus-square"></span></a></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="copyright large-12 columns text-center">
          <img src="assets/img/horiz_KC_logo.png" width="112" height="25" alt="King County">
          <div class="legal">©2017 Seattle - King County Stalking Protection Order, All Rights Reserved</div>
        </div>
      </div>
     
    </div>
</footer>