
<div id="sticky-menu">

<div id="menu-wrapper"> 
  <div class="row">
    <div class="title-bar text-right" data-responsive-toggle="main-menu" data-hide-for="large">
   <!--  <div>
      <a href="" class="safety">
        <div class="button small alert ">SAFETY EXIT</div>
        <div class="x"><span class="fa fa-times"></span></div>
      </a>
    </div> -->
  <!-- this succssfully "hamburgerizing" menu was pulled from the News or Magazine HTML template -->
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="logo"> <a href="/"><img src="assets/img/spo_logo.svg" width="120" height="40" alt="King County Stalking Protection Order"> </a></div>
      <!-- <div class="title-bar-title"></div> -->
    </div>
    

   <div class="top-bar" id="main-menu">


    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">
                <a href="/" class="logo">
                  <img src="assets/img/spo_logo.svg" width="160" height="62" alt="King County Stalking Protection Order">
                </a>
              </li>
        </ul>
    </div>

    <div class="top-bar-right">

        <ul class="menu main-menu vertical large-horizontal large-text-center" data-responsive-menu="drilldown large-dropdown">
           
          <li class="menu-item">
            <a href="#">AM I BEING STALKED?</a>
          </li>
          <li class="has-submenu menu-item"><a href="#">ABOUT STALKING PROTECTION ORDERS <i class="fa fa-caret-down"></i></a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">What is stalking?</a></li>
              <li><a href="#">What is a Stalking Protection Order?</a></li>
              <li><a href="#">Should I get a Stalking Protection Order?</a></li>
              <li><a href="#">Can I get a Stalking Protection Order?</a></li>
              <li><a href="/get_order.html">How do I get a Stalking Protection Order?</a></li>
              <li><a href="#">Now that I have a Stalking Protection Order</a></li>

            </ul>
          </li>
          <li class="menu-item"><a href="#">HELPFUL RESOURCES &amp; FAQs</a>
          </li>
          <li class="language">
            <button class="button small hollow white" type="button" data-toggle="example-dropdown">Language</button>
            <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
              <ul>
                <li>English</li>
                <li>Espanol</li>
                <li>Language</li>
                <li>Language</li>
              </ul>
            </div>
          </li>
        </ul>
    </div>

</div>



  </div>
</div>
</div>
