<div class="hide-for-large">
    <button class="button dropdown-button" type="button" data-toggle="example-dropdown-1">Choose Topic</button>
    <div class="dropdown-pane" id="example-dropdown-1" data-dropdown data-auto-focus="true">
       <ul class="no-bullet">
              <li><a class="am-i" href="am-i-being-stalked.html">What is stalking?</a></li>
              <li><a class="what" href="what-is-a-stalking-protection-order.html">What is a Stalking Protection Order?</a></li>
              <li><a class="should" href="should-i-get-a-stalking-protection-order.html">Should I get a Stalking Protection Order?</a></li>
              <li><a class="can" href="can-i-get-a-stalking-protection-order.html">Can I get a Stalking Protection Order?</a></li>
              <li><a class="how" href="how-do-i-get-a-stalking-protection-order.html">How do I get a Stalking Protection Order?</a></li>
              <li><a class="now" href="now-that-i-have-a-stalking-protection-order.html">Now that I have a Stalking Protection Order (Staying Safe)</a></li>
              <li><a class="resources" href="safety-tips-resources.html">Safety Tips & Resources</a></li>
      </ul>
    </div>
</div>
<div class="side-menu show-for-large">
  <ul class="">
    <li><a class="am-i" href="am-i-being-stalked.html">What is stalking?</a></li>
    <li><a class="what" href="what-is-a-stalking-protection-order.html">What is a Stalking Protection Order?</a></li>
    <li><a class="should" href="should-i-get-a-stalking-protection-order.html">Should I get a Stalking Protection Order?</a></li>
    <li><a class="can" href="can-i-get-a-stalking-protection-order.html">Can I get a Stalking Protection Order?</a></li>
    <li><a class="how" href="how-do-i-get-a-stalking-protection-order.html">How do I get a Stalking Protection Order?</a></li>
    <li><a class="now" href="now-that-i-have-a-stalking-protection-order.html">Now that I have a Stalking Protection Order (Staying Safe)</a></li>
    <li><a class="resources" href="safety-tips-resources.html">Safety Tips & Resources</a></li>
  </ul>
</div>